In [1]:
import pandas as pd
from glob import glob

In [2]:
data_files = sorted(glob('review*.csv'))

In [3]:
data_files

['review12.csv',
 'reviews1.csv',
 'reviews10.csv',
 'reviews11.csv',
 'reviews2.csv',
 'reviews3.csv',
 'reviews4.csv',
 'reviews5.csv',
 'reviews6.csv',
 'reviews7.csv',
 'reviews8.csv',
 'reviews9.csv']

In [4]:
merge_data = pd.concat(pd.read_csv(datafile).assign(sourcefilename=datafile)for datafile in data_files)

In [5]:
merge_data.head()

,Unnamed: 0,Customer_Name,Date,Ratings,Review_Title,Reviews,Product_name,Price,sourcefilename
0,0,Allison,"August 9, 2022",5.0 out of 5 stars,It replaced my old Toshiba so everything about...,Overall this is a great laptop.,Dynabook Toshiba Satellite Pro L50-G Business ...,"$2,399.00",review12.csv
1,1,Albert Alvarez,"June 22, 2022",5.0 out of 5 stars,KEYSTROKE KEY ARE EASILY SIZED FOR OLDER SENIO...,I ENTRUST THAT GEEK GROUP THAT PROVIDED ME WIT...,Dynabook Toshiba Satellite Pro L50-G Business ...,"$2,399.00",review12.csv
2,2,Amazon Customer,"January 26, 2022",5.0 out of 5 stars,Toshiba in Disguise,It was time to finally replace my beloved Tosh...,Dynabook Toshiba Satellite Pro L50-G Business ...,"$2,399.00",review12.csv
3,3,Elmer D.,"May 26, 2022",5.0 out of 5 stars,Works great for down loading songs and playing...,"Everything is great, I use it for karaoke in m...",Dynabook Toshiba Satellite Pro L50-G Business ...,"$2,399.00",review12.csv
4,4,Amazon Customer,"June 1, 2021",5.0 out of 5 stars,Shipping time was great. I received it in Pana...,I bought this computer for a young man who is ...,Dynabook Toshiba Satellite Pro L50-G Business ...,"$2,399.00",review12.csv

In [6]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 502 entries, 0 to 49
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      502 non-null    int64
 1   Customer_Name   502 non-null    object
 2   Date            502 non-null    object
 3   Ratings         502 non-null    object
 4   Review_Title    498 non-null    object
 5   Reviews         496 non-null    object
 6   Product_name    502 non-null    object
 7   Price           502 non-null    object
 8   sourcefilename  502 non-null    object
dtypes: int64(1), object(8)
memory usage: 39.2+ KB

In [7]:
merge_data.to_csv('../toshiba_reviews.csv')