In [1]:
import pandas as pd
from glob import glob

In [2]:
data_files = sorted(glob('review*.csv'))

In [3]:
data_files

['reviews1.csv',
 'reviews10.csv',
 'reviews2.csv',
 'reviews3.csv',
 'reviews4.csv',
 'reviews5.csv',
 'reviews6.csv',
 'reviews7.csv',
 'reviews8.csv',
 'reviews9.csv']

In [4]:
merge_data = pd.concat(pd.read_csv(datafile).assign(sourcefilename=datafile)for datafile in data_files)

In [5]:
merge_data.head()

,Unnamed: 0,Customer_Name,Date,Ratings,Review_Title,Reviews,Product_name,Price,sourcefilename
0,0,Catherine,"July 9, 2022",5.0 out of 5 stars,"A decent, inexpensive laptop. Good for what I do.",I'm a writer and student and use non-MS progra...,"Newest HP 14"" HD Laptop, Windows 11, Intel Cel...",$212.99,reviews1.csv
1,1,char,"July 11, 2022",4.0 out of 5 stars,Good for price,"This laptop is mainly used for gaming purpose,...","Newest HP 14"" HD Laptop, Windows 11, Intel Cel...",$212.99,reviews1.csv
2,2,Tracy,"August 24, 2022",5.0 out of 5 stars,"It was exactly as I expected, and the tutorial...","Delivery was prompt, and the laptop was in exc...","Newest HP 14"" HD Laptop, Windows 11, Intel Cel...",$212.99,reviews1.csv
3,3,Bethany Rhodes,"August 14, 2022",5.0 out of 5 stars,Great value,I’ve had it for about two months. So far so go...,"Newest HP 14"" HD Laptop, Windows 11, Intel Cel...",$212.99,reviews1.csv
4,4,Madeleine,"August 1, 2022",5.0 out of 5 stars,Works quick,I like the slim design of the HP Laptop.Its ve...,"Newest HP 14"" HD Laptop, Windows 11, Intel Cel...",$212.99,reviews1.csv

In [6]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 444 entries, 0 to 17
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      444 non-null    int64
 1   Customer_Name   444 non-null    object
 2   Date            444 non-null    object
 3   Ratings         444 non-null    object
 4   Review_Title    429 non-null    object
 5   Reviews         417 non-null    object
 6   Product_name    444 non-null    object
 7   Price           444 non-null    object
 8   sourcefilename  444 non-null    object
dtypes: int64(1), object(8)
memory usage: 34.7+ KB

In [7]:
merge_data.to_csv('../hp_reviews.csv')